#about{
    background-color: aliceblue;
    

font: italic bold 26px arial, sans-serif;

color : black;

background : white;

border : 5px solid coral;

padding : 20px;

width : 650px;

border-radius: 15px;
    
}
}