img {
    image-orientation: from-image;
    width="340" height="435
}

h2

{
    

font: italic bold 26px arial, sans-serif;

color : #ffffff;

background : #3B3738;

border : 5px solid #fb998c;

padding : 20px;

width : 650px;

border-radius: 15px;

}

h3

{

position:relative;



border : 5px solid #fb998c;

width : 340px;

height : 435px;

}